@import '../../styles/fonts.scss';
@import '../../styles/variables.scss';

.main-section {
	background: $cornflower;
	height: 100vh;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.orange {
	color: orange;
}
p.main-text {
	text-align: center;
	font-size: 4rem;
	font-family: $TroisMilleLight;
	color: $neon-blue;
	padding: 30px;
}

@media screen and (max-width: $lg-break) {
	p.main-text {
		font-size: 3rem;
	}
}
@media screen and (max-width: $md-break) {
	p.main-text {
		font-size: 2.3rem;
	}
}
@media screen and (max-width: $sm-break) {
	p.main-text {
		font-size: 2rem;
	}
}

@media screen and (max-width: $xs-break) {
	p.main-text {
		font-size: 1.8rem;
	}
}
